@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  border-bottom: 1px solid #111;
}
.navbar h1{
  color: #666363;
}
.navbar .links{
  margin: auto;
}
.navbar a{
  margin-left: 12px;
  text-decoration: none;
  color: rgb(4, 85, 85);
}
.navbar a:hover{
  color: #666363;
  text-decoration: underline;
}
.content{
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}